@use '../animations'

$primary: #7eb285

body
  margin: 0
  padding: 0

.header
  background-color: $primary
  height: 100vh
  width: 100vw
  overflow: hidden
  animation-name: shrink-nav
  animation-duration: 3s
  animation-iteration-count: 1
  animation-fill-mode: forwards
  animation-delay: 3.5s

.title
  margin: 0
  color: #fff
  font-size: 6em
  font-family: 'Righteous'
  animation-name: shrink-title
  animation-duration: 3s
  animation-iteration-count: 1
  animation-fill-mode: forwards
  animation-delay: 3.5s

.signature
  animation-name: appear, signature-disappear
  animation-duration: 1s, 1s
  animation-iteration-count: 1, 1
  animation-fill-mode: forwards, forwards
  opacity: 0
  float: right
  font-size: 1.5em
  color: #fff
  font-family: 'Damion'
  animation-delay: 1s, 3.5s

.logo-and-title
  animation-name: move-title
  animation-duration: 3s
  animation-iteration-count: 1
  animation-fill-mode: forwards
  animation-delay: 3.5s
  width: fit-content
  height: fit-content
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.appear
  animation-name: appear
  animation-duration: 2s
  animation-iteration-count: 1
  animation-fill-mode: forwards
  opacity: 0
#letter-1
  @extend .appear
#letter-2
  @extend .appear
  animation-delay: .1s
#letter-3
  @extend .appear
  animation-delay: .2s
#letter-4
  @extend .appear
  animation-delay: .3s
#letter-5
  @extend .appear
  animation-delay: .4s
#letter-6
  @extend .appear
  animation-delay: .5s
#letter-7
  @extend .appear
  animation-delay: .6s
#letter-8
  @extend .appear
  animation-delay: .7s
#letter-9
  @extend .appear
  animation-delay: .8s


@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 1
